<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>javaGroup</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 
  <!-- Controller 설정 -->
  <servlet>
  	<servlet-name>test06</servlet-name>
  	<!-- 서블릿 별명=name : 클래스명 복붙+첫글자소문자변경-->
  	<servlet-class>study.j1014.Test06</servlet-class>
  	<!-- 서블릿(=클래스)의 패키지명.서블릿이름 -->  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>test06</servlet-name>  
  	<url-pattern>/Test06</url-pattern>
  	<url-pattern>/T06</url-pattern>
  	<url-pattern>/T006</url-pattern>
  	<!-- url-pattern:들어가는 경로 -->
  	<!-- url 패턴마다 코드 설정으로 권한을 따로 줘서 하나의 db의 읽기/쓰기 범위를 따로 줄 수 있음   -->
  </servlet-mapping>
  <!-- 1.서블릿으로 범위주기 2.대신할 이름주기 3.url-mapping하기 4.url에 적어주는 이름 5.url설정-->
  <!-- 동일 내용을 서블릿 작성하지 않음. url 패턴을 추가해서 사용 가능 -->
  
  <!-- 
  <servlet>
  	<servlet-name>t06</servlet-name>
  	<servlet-class>study.j1014.Test06</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>t06</servlet-name>  
  	<url-pattern>/T06</url-pattern>
  </servlet-mapping>
   -->
 	<!--  
 	<servlet>
  	<servlet-name>t006</servlet-name>
  	<servlet-class>study.j1014.Test06</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>t006</servlet-name>
  	<url-pattern>/T006</url-pattern>
  </servlet-mapping> -->
  
  
  <!-- 특정 서블릿에서 초기값 할당하기  --> <!-- 241022 -->
  <!-- <servlet>
  	<servlet-name>t3_initOk</servlet-name>
  	<servlet-class>study.j1021.T3_initOk</servlet-class>
		<init-param>
			<param-name>logoName</param-name>
			<param-value>그린 주식회사</param-value>
		</init-param> 초기값 설정 파라메타
		<init-param>
			<param-name>logoName</param-name>
			<param-value>www.green.com</param-value>
		</init-param> 초기값 설정 파라메타
  </servlet>
  <servlet-mapping> 
  	<servlet-name>t3_initOk</servlet-name>
	<url-pattern>/1021/T3_initOk</url-pattern>  
  </servlet-mapping>
   -->
  
  <!-- 초기값(공통변수) 미리 설정시켜두기 -어노테이션 설정방법 -->
  <context-param>
  	<param-name>logoName</param-name>
		<param-value>스마트그린 주식회사</param-value>
  </context-param>
  <context-param>
  	<param-name>homeAddess</param-name>
		<param-value>www.green.com</param-value>
  </context-param>
  
  
  <!-- Filter 처리(한글처리) --> <!-- 241021 -->
  <!-- <filter>
  	<filter-name>filterTest</filter-name>
  	<filter-class>filter.FilterTest</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filterTest</filter-name>
  	<url-pattern>/*</url-pattern> 모든 파일이 다 필터에 걸리도록 /*을 지정
  </filter-mapping> -->
  <!-- 요즘엔 어노테이션방식 사용함 -->
  
  
</web-app>